.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    display: grid;
    grid-template-columns: 1.6rem 1fr 1.6rem;
}

.header-container {
    grid-column: 2;
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
    justify-self: center;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
